p Hi,
p Welcome to #{sitename}! We're thrilled to have you on board.
p Please click on the following link or copy and paste it into the address bar of your browser to activate your account: 
a(href=hostname + '/account/verify/' + token) #{hostname}/account/verify/#{token}
br
p If you didn't sign up for this, you can ignore this email and won't hear from us again.
| Unverified accounts will be deleted after three days.


p Cheers, 
| All at #{sitename}