p Hi #{username},
p The following #{type}s were found matching your #{alert.frequency} "#{alert.name}" #{type} alert subscription:

div
    each post in posts
           p --- #{post.title} ---
            br
            | Location: #{post.location.name}
            br
            | Keywords: #{post.tags}
            br
            | View #{type}: 
            a(href=hostname + `/${type}/` + post.slug) #{hostname}/#{type}/#{post.slug}

p To manage your #{type} alerts please visit: 
    a(href=hostname + '/account/alerts') #{hostname}/account/alerts


p Cheers, 
| All at #{sitename}